// CSS tree with a rounded last child branch
.arbor-collapse {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: $line-height;
  height: $line-height;
  margin: 0;
  margin-right: 1ch;
  vertical-align: middle;
  background-image: url('assets/img/icon-arrow-down.svg');
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: rotate(-90deg);
  outline: none;
  cursor: pointer;

  + label {
    height: $line-height;;
    line-height: $line-height;
    cursor: pointer;
    user-select: none;
  }

  ~ .arbor-tree {
    display: none;
  }

  &:checked {
    transform: rotate(0deg);

    ~ .arbor-tree {
      display: block;
    }
  }
}
