// CSS tree with a rounded last child branch
$arrow-color: rgb(109, 126, 139);

.arbor-collapse {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    + label {
      outline: rgb(0, 103, 244) auto;
    }
  }

  + label {
    height: $line-height;;
    line-height: $line-height;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      width: 0;
      height: 0;
      border-top: .25em solid transparent;
      border-bottom: .25em solid transparent;
      border-left: .4em solid $arrow-color;
      margin-right: 1ch;
    }
  }

  ~ .arbor-tree {
    display: none;
  }

  &:checked {
    transform: rotate(0deg);

    + label {
      &::before {
        left: .125rem;
        transform: rotate(90deg);
      }
    }

    ~ .arbor-tree {
      display: block;
    }
  }
}
